@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif+Hebrew:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Reset básico */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: "Noto Serif Hebrew", serif;
    background-color: #492005;
    font-size:16px;
}



/* Barra de navegação */


header {
    display: flex;
    gap: 10vh;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 2vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    font-size: 3vh;
    z-index: 1000;
}

header.scrolled {
    background: #664020cc;
    backdrop-filter: blur(10px);
    height: 10vh;
    font-size: 2.5vh;

}

nav {
    display: flex;
    gap: 8vh;
    margin-right: 2vh;
}


.hover-underline-animation {
    text-decoration: none;
    color: #ffffff;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}


#logo {
    padding-left: 10vh;
    display: flex;
    align-items: center;
}

#imagem_logo {
    height: 65px;
    border-radius: 10px;
}


/*Conteudo principal*/

main {
    padding-top: 15vh; 
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #492005; 
}

#contato_container {
    width: 60%;
    margin: 5vh auto;
    padding: 5vh;
    background-color: #e4e4e4;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contato_container h1 {
    font-size: 6vh;
    color: #fff8f2; 
    margin-bottom: 5vh;
    padding-bottom: 10px;
    display: inline-block;
    background-color: #492005;
    border-radius: 20px;
    width: 70vh;
    height: 10vh;
    padding-top: 1.3vh;
}

.info_section {
    margin-bottom: 4vh;
    padding: 2vh;
}

.info_section h2 {
    font-size: 3.5vh;
    color: #664020;
    margin-bottom: 1.5vh;
    text-decoration: underline;
}

.info_section p, .info_section a {
    font-size: 2.5vh;
    color: #333;
    text-decoration: none;
    line-height: 1.5;
}

.info_section a:hover {
    text-decoration: underline;
}

#redes_sociais {
    display: flex;
    justify-content: center;
    gap: 5vh;
    margin-top: 3vh;
}

#redes_sociais a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;
    color: #664020;
    transition: color 0.3s;
}

#redes_sociais a:hover {
    color: #a07d56; 
}

.icone_social {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: #664020;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

p{
    margin-top:5vh;
}


/* Footer */

footer {
    display: flex;
    background-color: black;
    color: #ffd5d7;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

footer div img {
    height: 30vh;
}

footer div h4 {
    margin-bottom: 5vh;
}




/* Responsividade */


/* Tablet */

@media (min-width: 769px) and (max-width: 1024px) {
    /* Barra de Navegação */
    header {
        gap: 5vh;
        padding-right: 5vh;
        font-size: 2.5vh;
    }

    #logo {
        padding-left: 5vh;
    }

    nav {
        gap: 4vh;
    }

    /* Conteúdo Principal */
    
    main {
        padding: 40px 3%;
    }

    #contato_container {
        padding: 30px;
        width: 80%;
    }

    #contato_container h1 {
        font-size: 2em;
        width: 80%;
    }

    .info_section h2 {
        font-size: 1.3em;
    }

    /* Rodapé */
    footer {
        justify-content: space-between;
        padding: 25px 3%;
    }

    footer > div {
        margin: 10px 10px;
    }
}

/* Celular */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        height: 10vh;
        font-size: 1.7vh;
        flex-direction: row;
    }

    header nav {
        justify-content: end;
        gap: 2vh;
    }


    header.scrolled {
        font-size: 1.3vh;
        height: 6vh;
    }


    #logo {
        padding-left: 2vh;
    }

    #imagem_logo {
        height: 30px;
    }


    /* Conteúdo Principal */

   
    main {
        padding: 30px 0; 
        min-height: auto;
        width: 100%; 
    }

    #contato_container {
        padding: 20px;
        box-shadow: none;
        width: 90%;
        margin: 0 auto;
    }

    #contato_container h1 {
        width: 90%;
        font-size: 1.8em;
        margin-bottom: 20px;
        padding-top: 30px;
    }

    .info_section {
        padding: 10px 0;
    }

    .info_section h2 {
        font-size: 1.2em;
    }

    #redes_sociais {
        flex-direction: row;
        gap: 15px;
    }

    .icone_social {
        width: 80px;
        height: 80px;
        font-size: 1.4em;
    }

    /* Rodapé */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
        text-align: center;
    }

    footer > div {
        width: 100%;
        margin: 15px 0;
        max-width: none;
    }

    footer img {
        margin-bottom: 10px;
    }
}
