/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif+Hebrew:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Reset básico */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: "Noto Serif Hebrew", serif;
    background-color: #ddbda7;
}

/* Barra de navegação */



header {
    display: flex;
    gap: 10vh;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 2vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    font-size: 3vh;
    z-index: 1000;
}

header.scrolled {
    background: #664020cc;
    backdrop-filter: blur(10px);
    height: 10vh;
    font-size: 2.5vh;

}

nav {
    display: flex;
    gap: 4vh;
    margin-right: 2vh;
}


.hover-underline-animation {
    text-decoration: none;
    color: #ffffff;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}


#logo {
    padding-left: 10vh;
    display: flex;
    align-items: center;
}

#imagem_logo {
    height: 65px;
    border-radius: 10px;
}



/* Conteúdo principal */

/* slogan */

#slogan {
    font-size: 7vh;
    width: 83vh;
    margin-top: 37vh;
    color: #ffdfc9;
}

#inicio {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#imagem_de_fundo {
    background-image: url(img/FOTO\ DE\ FUNDO\ 2.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border-bottom-left-radius: 340px;
    height: 100vh;
}

/* Apresentação */

#apresentacao {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15vh;
    margin-top: 25vh;
    align-items: center;
}

#apresentacao_dona {
    width: 68vh;
    font-size: 3.2vh;
}

#apresentacao_foto {
    background-color: #664020cc;
    border-radius: 30px;
    width: 76vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#apresentacao_foto1 {
    width: 90%;
    height: 90%;
    border-radius: 20px;

}

#apresentacao_dona p {
    margin-top: 6vh;
}



/* Serviços do inicio */

#h1_servicos {
    margin-top: 20vh;
    margin-left: 5vh;
    margin-bottom: 7vh;
    font-size: 6vh;
}

#servicos_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #704324;
    width: 90%;
    text-align: center;
    margin-left: 10vh;
    height: 30vh;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

#servicos_inicio div img {
    width: 25vh;
    border-radius: 20px;
    height: 16vh;
}

.servicos_inicio_descricao {
    margin-top: 2vh;
    color: #ffd5d7;

}

/* ==== SEÇÃO CUIDE DE VOCÊ ==== */

#cuide-section {
    width: 80%;
    padding: 80px 5%;
    background-image: url(img/foto5.jfif);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    margin: 10vh;
    border-radius: 30px;
    font-family: "Noto Serif Hebrew", serif;
    ;
}

#cuide_centro {
    display: flex;
    justify-content: center;
}

.cuide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.cuide-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    object-fit: cover;
    height: 55vh;
}

.cuide-content {
    width: 60%;
}

.cuide-subtitle {
    font-size: 14px;
    letter-spacing: 3px;
    color: #B68C6B;
    text-transform: uppercase;
}

.cuide-title {
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0 20px;
    color: #ddbda7;
}

.cuide-content p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 15px;
}

.cuide-btn {
    display: inline-block;
    background: #25D366;
    color: #fff;
    padding: 12px 26px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.cuide-btn:hover {
    background: #1eb656;
}



/* Imagens da clinica */

#clinica {
    padding: 5vh;
    margin-top: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#h1_clinica {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6vh;
    margin-bottom: 7vh;
    margin-top: 13vh;
    margin-left: 7vh;
}


.imagens_clinica {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-template-areas:
        "foto1 foto2 foto3"
        "foto4 foto2 foto3"
        "foto4 foto5 foto5";
    gap: 3vh;
}


#foto1 {
    grid-area: foto1;
    height: 40vh;
    width: 40vh;
    border-radius: 20px;
}

#foto2 {
    grid-area: foto2;
    height: 50vh;
    width: 40vh;
    border-radius: 20px;

}

#foto3 {
    grid-area: foto3;
    height: 50vh;
    width: 40vh;
    border-radius: 20px;
}

#foto4 {
    grid-area: foto4;
    height: 40vh;
    width: 40vh;
    border-radius: 20px;
}

#foto5 {
    grid-area: foto5;
    border-radius: 20px;
    height: 32vh;
    width: 85vh;
}


/*Feedbacks*/

#feedback-section {
    text-align: center;
    padding: 90px 5%;
    background: #ddbda7;
}

.feedback-subtitle {
    color: #B68C6B;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.feedback-title {
    font-size: 42px;
    color: #1A1A1A;
    margin-bottom: 40px;
}

.feedback-slider {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.feedback-item {
    width: 100%;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}

.feedback-item.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.feedback-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.feedback-item h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1A1A1A;
}

.feedback-item p {
    color: #444;
    font-size: 16px;
    line-height: 1.6;
    max-width: 620px;
    margin: 0 auto;
}

/* PONTINHOS */
.feedback-dots {
    margin-top: 25px;
}

.feedback-dots .dot {
    width: 10px;
    height: 10px;
    background: #d6d6d6;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.3s;
}

.feedback-dots .dot.active {
    background: #B68C6B;
    transform: scale(1.2);
}




/* Footer */

footer {
    display: flex;
    background-color: black;
    color: #ffd5d7;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}

footer div img {
    height: 30vh;
}

footer div h4 {
    margin-bottom: 5vh;
}

/* Responsividade */

/* Celular */

@media (max-width: 767px) {

    /* Nav */
    body {
        font-size: 16px;
    }

    header {
        height: 10vh;
        font-size: 1.3vh;
        flex-direction: row;
    }

    header nav {
        justify-content: end;
        gap: 2vh;
    }


    header.scrolled {
        font-size: 1vh;
        height: 6vh;
    }


    #logo {
        padding-left: 2vh;
    }

    #imagem_logo {
        height: 30px;
    }




    /* Slogan */
    #inicio {
        height: 80vh;
        align-items: center;
    }

    #slogan {
        font-size: 4vh;
        width: 90vw;
        margin-top: 0;
        text-align: center;
    }

    /* Apresentação */
    #apresentacao {
        flex-direction: column;
        gap: 5vh;
        margin-top: 10vh;
        padding: 0 5vw;
    }

    #apresentacao_dona {
        width: 100%;
        font-size: 2.5vh;
        text-align: center;
    }

    #apresentacao_dona h1 {
        font-size: 4vh;
    }

    #apresentacao_foto {
        border-radius: 30px;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #apresentacao_foto1 {
        width: 90%;
        height: auto;
    }

    /* Servicos inicio */

    #servicos_inicio {
        height: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding: 2vh;
        gap: 2vh;
    }


    #servicos_inicio>a {
        flex: unset;
        min-width: unset;
    }

    a {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    #servicos_inicio div img {
        width: 65%;
        height: 10vh;
    }

    #tamanho_da_manta {
        height: 16vh;
    }


    /* Cuide de voce */

    .cuide-container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
        width: 100%;
    }

    .cuide-image img {
       height: 75%;
        width: 90%;
    }

    #cuide-section {
        width: 95%;
    }

    .cuide-title {
        font-size: 34px;
        line-height: 1.1;
    }

    .cuide-content{
        width: 80%;
    }

    .cuide-content p {
        font-size: 14px;
    }

    .cuide-btn {
        padding: 12px 24px;
        font-size: 15px;
    }



    /* Imagens da Clínica */
    #clinica {
        padding: 5vh 5vw;
        text-align: center;
    }

    #h1_clinica {
        font-size: 4vh;
        margin-bottom: 5vh;
        margin-left: 0;
    }


    .imagens_clinica {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto4 foto5 foto5";
    }



    #foto1{
        width: 100%;
        height: 15vh;
        transition: transform 0.4s ease;
    }
    #foto2{
        width: 100%;
        height: 15vh;
        transition: transform 0.4s ease;
    }
    #foto3{
        width: 100%;
        height: 15vh;
        transition: transform 0.4s ease;
    }

    #foto4{
        width: 100%;
        height: 15vh;
        transition: transform 0.4s ease;
    }

    #foto5 {
        width: 100%;
        height: 15vh;
        transition: transform 0.4s ease;
    }

    #foto1:hover{
        transform: scale(1.3);
    }

    #foto2:hover{
        transform: scale(1.3);
    }

    #foto3:hover{
        transform: scale(1.3);
    }

    #foto4:hover{
        transform: scale(1.3);
    }

    #foto5:hover {
        transform: scale(1.3);
    }



    /* Feedback */

     #feedback-section {
        padding: 70px 5%;
    }

    .feedback-title {
        font-size: 28px;
    }

    .feedback-item p {
        font-size: 14px;
    }

    .feedback-photo {
        width: 70px;
        height: 70px;
    }




    /* Footer */
    footer {
        font-size: 2vh;
        text-align: center;
        flex-direction: column;
        padding: 3vh 2vw;
    }

    footer div {
        margin-bottom: 3vh;
        min-width: 100%;
    }

    footer div img {
        height: 15vh;
    }

    footer div h4 {
        margin-bottom: 1vh;
    }
}


/* Tablet */


@media (min-width: 768px) and (max-width: 1024px) {

    /* Barra de Navegação */
    header {
        gap: 5vh;
        padding-right: 5vh;
        font-size: 2.5vh;
    }



    #logo {
        padding-left: 5vh;
    }

    nav {
        gap: 4vh;
    }

    #imagem_de_fundo {
        width: 100%;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 200px;
    }

    /* Slogan */
    #slogan {
        font-size: 5vh;
        width: 60vh;
        margin-top: 30vh;
    }

    /* Apresentação */
    #apresentacao {
        gap: 10vh;
        margin-top: 15vh;
        padding: 0;
        margin-left: 0;
    }

    #apresentacao_dona {
        width: 50vh;
        font-size: 2.8vh;
    }



    #apresentacao_foto1 {
        width: 50vh;
    }


    /* Servicos inicio */

    #servicos_inicio {
        height: 60vh;
        width: 70%vh;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        box-sizing: border-box;
        gap: 0px;
    }

    a {
        display: flex;
        justify-content: center;
        margin: 0%;
    }


    /* Cuide de voce */
    #cuide-section {
        padding: 60px 5%;
    }

    .cuide-container {
        gap: 30px;
    }

    .cuide-title {
        font-size: 40px;
    }

    .cuide-content p {
        font-size: 15px;
    }

    .cuide-image img {
        max-width: 400px;
    }




    /* Imagens da Clínica (Grid) */
    #fotos_clinica {
        display: flex;
        flex-direction: row;
    }


    /* Feedback */

     .feedback-title {
        font-size: 32px;
    }

    .feedback-item p {
        font-size: 15px;
    }

    .feedback-photo {
        width: 80px;
        height: 80px;
    }


    /* Footer */
    footer {
        padding: 3vh 0;
        font-size: 2vh;
    }
}