/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif+Hebrew:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset básico */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: "Noto Serif Hebrew", serif;
    background-color: #ddbda7;
}

/* Barra de navegação */


header {
    display: flex;
    /* Corrigido: Usar vw para gap horizontal */
    gap: 10vw;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 2vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    font-size: 3vh;
    z-index: 1000;
}

header.scrolled {
    background: #664020cc;
    backdrop-filter: blur(10px);
    height: 10vh;
    font-size: 2.5vh;

}

nav {
    display: flex;
    /* Corrigido: Usar vw para gap horizontal */
    gap: 8vw;
    /* Corrigido: Usar vw para margin horizontal */
    margin-right: 2vw;
}


.hover-underline-animation {
    text-decoration: none;
    color: #ffffff;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}


#logo {
    /* Corrigido: Usar vw para padding horizontal */
    padding-left: 10vw;
    display: flex;
    align-items: center;
}

#imagem_logo {
    height: 65px;
    border-radius: 10px;
}



/* Conteúdo principal */

/* slogan */

#slogan {
    font-size: 7vh;
    /* Corrigido: Usar vw para largura */
    width: 83vw;
    margin-top: 37vh;
    color: #ffdfc9;
}

#inicio {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#imagem_de_fundo {
    background-image: url(img/FOTO\ DE\ FUNDO\ 2.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border-bottom-left-radius: 300px;
}

/* Apresentação */

#apresentacao {
    display: flex;
    text-align: center;
    justify-content: center;
    /* Corrigido: Usar vw para gap horizontal */
    gap: 15vw;
    margin-top: 25vh;
    align-items: center;
    /* Adicionado padding para evitar quebra em telas menores */
    padding: 0 5vw;
}

#apresentacao_dona {
    /* Corrigido: Usar vw para largura */
    width: 68vw;
    font-size: 3.2vh;
}

#apresentacao_foto {
    background-color: #664020cc;
    border-radius: 30px;
    /* Corrigido: Usar vw para largura */
    width: 76vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adicionado para evitar que a foto diminua demais */
    flex-shrink: 0;
}

#apresentacao_foto1 {
    width: 90%;
    height: 90%;
    border-radius: 20px;

}

#apresentacao_dona p {
    margin-top: 6vh;
}



/* Serviços do inicio */

#h1_servicos {
    margin-top: 20vh;
    /* Corrigido: Usar vw para margin horizontal */
    margin-left: 5vw;
    margin-bottom: 7vh;
    font-size: 6vh;
}

#servicos_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #704324;
    width: 90%;
    text-align: center;
    /* Corrigido: Centralizar com margin auto */
    margin: 0 auto;
    height: 30vh;
    border-radius: 20px;
    /* Adicionado para quebrar em telas menores */
    flex-wrap: wrap;
    /* Adicionado gap para espaçamento entre itens */
    gap: 2vw;
}

a {
    text-decoration: none;
}

/* Adicionado para garantir que os itens de serviço se ajustem */
#servicos_inicio > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* Garante que o link ocupe o espaço necessário */
    flex: 1 1 20%; 
    min-width: 150px;
}

#servicos_inicio div img {
    width: 25vh;
    border-radius: 20px;
    height: 16vh;
    /* Adicionado para garantir que a imagem preencha o espaço sem distorcer */
    object-fit: cover;
}

.servicos_inicio_descricao {
    margin-top: 2vh;
    color: #ffd5d7;

}


/* Imagens da clinica */

#clinica {
    padding: 5vh;
    margin-top: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6vh;
    margin-bottom: 7vh;
    margin-top: 13vh;
    /* Corrigido: Usar vw para margin horizontal */
    margin-left: 7vw;
}


.imagens_clinica{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Corrigido: Removido a linha 0.1fr que não faz sentido */
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "foto1 foto2 foto3"
    "foto4 foto5 foto5";
    gap: 60px;
    /* Adicionado max-width para controlar o tamanho máximo */
    max-width: 1200px;
    width: 100%;
}


#foto1{
    grid-area: foto1;
    height: 40vh;
    width: 40vh;
    border-radius: 20px;
    object-fit: cover;
}

#foto2{
    grid-area: foto2;
    height: 50vh;
    width: 40vh;
    border-radius: 20px;
    object-fit: cover;
   
}

#foto3{
    grid-area: foto3;
    height: 50vh;
    width: 40vh;
    border-radius: 20px;
    object-fit: cover;
}

#foto4{
    grid-area: foto4;
    height: 40vh;
    width: 40vh;
    border-radius: 20px;
    object-fit: cover;
}

#foto5{
    grid-area: foto5;
    border-radius: 20px;
    height: 31vh;
    /* Corrigido: Usar vw para largura */
    width: 85vw;
    object-fit: cover;
}




/* Footer */

footer {
    display: flex;
    background-color: black;
    color: #ffd5d7;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* Adicionado padding e flex-wrap */
    padding: 5vh 2vw;
    flex-wrap: wrap;
    gap: 2vw;

}

footer div {
    /* Adicionado para melhor distribuição e responsividade */
    flex: 1;
    min-width: 200px;
}

footer div img {
    height: 30vh;
    max-width: 100%;
}

footer div h4 {
    margin-bottom: 5vh;
}

/* Responsividade */

/* Celular */

@media (max-width: 767px) {
    /* Nav */
     body {
        font-size: 16px;
    }

    header {
        height: 10vh;
        font-size: 1.7vh;
        flex-direction: row;
        /* Corrigido: Usar vw para gap */
        gap: 2vw;
    }

    header nav {
        justify-content: flex-end;
        /* Corrigido: Usar vw para gap */
        gap: 2vw;
    }


    header.scrolled {
        font-size: 1.3vh;
        height: 6vh;
    }


    #logo {
        /* Corrigido: Usar vw para padding */
        padding-left: 2vw;
    }

    #imagem_logo {
        height: 30px;
    }


    #imagem_de_fundo {
        width: 100%;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 100px;

    }



    /* Slogan */
    #inicio {
        height: 80vh;
        align-items: center;
    }

    #slogan {
        font-size: 4vh;
        width: 90vw;
        margin-top: 0;
        text-align: center;
    }

    /* Apresentação */
    #apresentacao {
        flex-direction: column;
        gap: 5vh;
        margin-top: 10vh;
        padding: 0 5vw;
    }

    #apresentacao_dona {
        width: 100%;
        font-size: 2.5vh;
        text-align: center;
    }

    #apresentacao_dona h1 {
        font-size: 4vh;
    }

    #apresentacao_foto {
        border-radius: 30px;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #apresentacao_foto1 {
        width: 90%;
        height: auto;
    }

    /* Servicos inicio */

    #servicos_inicio{
        height: auto;
        width: 90%;
        /* Corrigido: Usar grid para melhor controle de layout */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding: 2vh;
        gap: 2vh;
    }

    /* Corrigido: Ajustar o link para ocupar o espaço no grid */
    #servicos_inicio > a {
        flex: unset;
        min-width: unset;
    }

    a{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    #servicos_inicio div img{
        width: 65%;
        height: auto;
    }

    /* Corrigido: Ajustar a imagem da manta */
    .tamanho_da_manta {
        width: 65% !important;
        height: auto !important;
    }


    /* Imagens da Clínica */
    #clinica{
        padding: 5vh 5vw;
        text-align: center;
    }

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
        margin-left: 0;
    }

    /* Corrigido: Alterar o grid para layout de coluna */
    .imagens_clinica {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: none;
    }

    .imagens_clinica img {
        width: 100%;
        height: auto;
    }

    /* Corrigido: Remover estilos de grid específicos para celular */
    #foto1, #foto2, #foto3, #foto4, #foto5 {
        width: 100%;
        height: auto;
        grid-area: unset;
    }


    /* Footer */
    footer {
        font-size: 2vh;
        text-align: center;
        flex-direction: column;
        padding: 3vh 2vw;
    }

    footer div {
        margin-bottom: 3vh;
        min-width: 100%;
    }

    footer div img {
        height: 15vh;
    }

    footer div h4 {
        margin-bottom: 1vh;
    }
}



/* Tablet */


@media (min-width: 769px) and (max-width: 1024px) {

    /* Barra de Navegação */
    header {
        /* Corrigido: Usar vw para gap */
        gap: 5vw;
        /* Corrigido: Usar vw para padding */
        padding-right: 5vw;
        font-size: 2.5vh;
    }

    #logo {
        /* Corrigido: Usar vw para padding */
        padding-left: 5vw;
    }

    nav {
        /* Corrigido: Usar vw para gap */
        gap: 4vw;
    }

    #imagem_de_fundo {
        width: 100%;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 200px;
    }

    /* Slogan */
    #slogan {
        font-size: 5vh;
        /* Corrigido: Usar vw para largura */
        width: 60vw;
    }

    /* Apresentação */
    #apresentacao {
        /* Corrigido: Usar vw para gap */
        gap: 10vw;
        margin-top: 15vh;
        padding: 0;
        margin-left: 0;
    }

    #apresentacao_dona {
        /* Corrigido: Usar vw para largura */
        width: 50vw;
        font-size: 2.8vh;
    }



    #apresentacao_foto1 {
        /* Corrigido: Usar vw para largura */
        width: 50vw;
    }


    /* Servicos inicio */

      #servicos_inicio {
        height: 60vh;
        /* Corrigido: Usar % para largura */
        width: 70%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        box-sizing: border-box;
        gap: 0px;
        margin: 0 auto;
    }

    /* Corrigido: Ajustar o link para ocupar o espaço no grid */
    #servicos_inicio > a {
        flex: unset;
        min-width: unset;
    }

    a {
        display: flex;
        justify-content: center;
        margin: 0%;
    }


    /* Imagens da Clínica (Grid) */
    .imagens_clinica {
        /* Corrigido: Ajustar o grid para 2 colunas */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto5";
        gap: 40px;
    }

    /* Corrigido: Ajustar tamanhos para o grid de 2 colunas */
    #foto1 {
        grid-row: span 1;
        grid-column: span 1;
        height: 35vh;
        width: 100%;
    }

    #foto2 {
        grid-column: span 1;
        grid-row: span 1;
        height: 35vh;
        width: 100%;
    }

    #foto3 {
        grid-row: span 1;
        grid-column: span 1;
        height: 35vh;
        width: 100%;
    }

    #foto4 {
        grid-row: span 1;
        grid-column: span 1;
        height: 35vh;
        width: 100%;
    }

    #foto5 {
        grid-row: span 1;
        /* Ocupa as duas colunas */
        grid-column: span 2;
        height: 30vh;
        width: 100%;
    }

    /* Footer */
    footer {
        padding: 3vh 2vw;
        font-size: 2vh;
    }

    h1 {
        font-size: 5vh;
        margin-left: 5vw;
    }
}

/* Desktop - Padrão (acima de 1025px) */

@media (min-width: 1025px) {
    header {
        gap: 10vw;
    }

    nav {
        gap: 8vw;
    }
}